.span_holder{
    margin-left: 100px;
    margin-top: 60px;
    line-height: 1.2;
}
body{
    overflow-x: hidden;
}
.span_holder span{
    color:white;
    font-family: montserrat;
    font-size: 315%;
    -webkit-text-fill-color: initial;
    cursor:default;
}
  
.span_holder span:not(.exclude):hover{
    background: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 270%;
    transition: 0.2s;
}




.span_holder span.exclude{
    background: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 450%;
}
.span_holder p{
    margin:0;
    color: grey;
    font-size: 85%;
    opacity: 0.5;
    font-style: italic;
}
.separator{
    margin-top: 30px;
    border-bottom: 1px solid grey;
    
    color: grey;
}
.card{
    border: 1px solid white;
    /* box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0,0,0,0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5); */
    border-radius: 15px;
    margin-left: 50px;
}
.card:hover{
    transform:translateY(-50px);
    transition: 0.5s;
    
}
.flexer{
    display: flex;
    justify-content: center; 
}
.proj_section{
    color:white;
    font-family: montserrat;
    font-size: 30px;
    -webkit-text-fill-color: initial;
    cursor:default;
    margin: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    height: 10vh;
    width: 100vw;
}

.proj_section span{
    background: linear-gradient(90deg, rgba(119, 234, 187, 1) 44%, rgba(0, 255, 255, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}



/* Additional styles for section2, section3, section4 if needed */


.img_edit{
    height: 50vh;
    width: 40vw;
    position: relative;
    left: 10%;     /*700px*/
    top: 10%;       /*100px*/
    
}


.scroll-up{
    transform: translateY(-30%);
    opacity: 1;
    transition: all 3s ease;
}

.scroll-down{
    transform: translateY(60%);
    opacity: 0;
    transition: all 1s ease;
}

.section1{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #161616;
}

.section2{
    position: sticky;
    top:0;
    background-color: #161616;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.section3{
    position: sticky;
    top:0;
    background-color: #161616;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.section4{
    position: sticky;
    top:0;
    background-color: #161616;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: row;
}
.section.scrolled-down .img_edit{
    transform: translateY(-60%);
} 

.section.scrolled-up .img_edit{
    transform: translateY(0);
}

.section p{
    font-size: 220%;   /*40px*/
    color: white;
    font-family: montserrat;
    margin-bottom: 2px;
    margin-left: 10%;  /*100px*/
}

.section span{
    color: white;
    font-family: monospace;
    font-weight: lighter;
    margin-left: 10%; /*100px*/
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

.small_floater{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.div-des{
    height: 4px;
    width: 200px;
    background-color: white; 
    margin-left: 10%;  /*100px*/
}

.cartlap{
    height: 35vh;
    width: 27vw;
    position: relative;
    left: 1%;  /*100px*/
    top: 80px;
    transform: translateY(-10%);
    transition: transform 2s ease;
}

.loglap{
    height: 35vh;
    width: 27vw;
    position: relative;
    left: 0%;  /*100px*/
    top: 80px;
    margin-right: 5dvw;
    transform: translateY(-10%);
    transition: transform 2s ease;
}



.conbut{
    text-decoration: none;
    display: block;
    margin-top: 25px;
    color: white;
    padding: 10px;
    padding-bottom: 1px;
    border: 1px solid;
    border-image: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    border-image-slice: 1;
    height: 30px;
    font-size: 15px;
    width: 155px;
    font-size: 17px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.vibut{
    margin-left: 10%;  
}

.button_holder{
    display: flex;
    justify-content: flex-start;  
    margin-left: 0;
}

.conbut:hover{
    background: linear-gradient(90deg, rgba(253, 45, 0, 1) 44%, rgba(223, 0, 124, 1) 100%);
    box-shadow: 0 0 10px white;
    transition: 0.5s;
}

.header{
    background: linear-gradient(90deg, rgba(119, 234, 187, 1) 44%, rgba(0, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    transform: translate(40%, 20%);
}

.flexer
{
display: flex;
flex-direction: column;
color: white;
font-size: 25px;
margin-top: 50px;
margin-left: 20px
}

.main-flex{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.flexer p{
    margin-top: 0;
    margin-left: 20px;
}

.email-handler{
    margin-left: 400px;
    color: white;
    border: 1px solid;
    border-image: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    width: 500px;
}

.email-handler form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    border-image-slice: 1;
    display: block;
    margin-left: 20px;
    color: white;
    font-family: monospace;
}

.email-handler form label{
    display: block;
   margin-bottom: 10px;
   margin-left: 20px;
   font-family: monospace;
   font-size: 15px;
}

.email-handler form textarea{
    background-color: transparent;
    border-image: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    border-image-slice: 1; 
    margin-left: 20px;    
    color: white;
    font-family: monospace;
}

.email-handler form button{
    background-color: transparent;
    color: white;
    border-image: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(223,0,124,1) 100%);
    border-image-slice: 1;
    font-family: monospace;
    margin-left: 20px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.email-handler form input:focus{
    border: none;
    border-bottom-color: white; 
}

.skill{
    height: 10px;
    width: 400px;
    border: 1px solid white;
    border-radius: 6px;
    
}

.box {
    background: linear-gradient(90deg, rgba(253, 45, 0, 1) 44%, rgba(255, 255, 0, 1) 70%, rgba(119, 234, 187, 1) 100%);

    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 0; 
    height: 10px;
    border-radius: 6px;
    margin-left: 0px;
  }
  

#skill-section p,div{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    font-family: monospace;
    margin-left: 50px;
}   

#skill-section{
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
            inset -5px -5px 5px rgba(0, 0, 0, 0.2),
            5px 5px 5px rgba(0, 0, 0, 0.2),
            -5px -5px 5px rgba(0, 0, 0, 0.2);
    padding-top:1px;
    height: 500px;
    width: 1000px;
}

#loading-page{
    position: fixed;
    height: 100vh;
    width:100%;
    background: #000 ;
    z-index: 9999;
    display: flex;
    align-items: center;
    margin: auto;
}

#loading-page img{
    height: 15%;
    position: fixed;
    left: 50%;
}


.loader{
    height: 10px;
    width: 200px;
    border: 1px solid white;
    
}

.loader.hidden{
    animation: loadingBar 1s;
    animation-fill-mode: forwards;
}

@keyframes loadingBar{
     /* 0%{
        opacity: 1;
        visibility: visible;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }   */
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.cskill{
    margin-left: 60vh;
}

.div-container-about{
    display: flex;
    flex-direction: row;
}

.random_blobs {
    position: relative;
    width: 70%;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px; 
}


.blob {
    position: absolute;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    background-color: rgba(234, 16, 16, 0.5);
    animation: moveBlob linear infinite;
}



.about_text{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.abthead{

    background: linear-gradient(90deg,rgba(0, 255, 255, 1) 100%, rgba(253,45,0,1) 44%, rgba(255, 255, 0, 1) 70% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: monospace;
    transform: translate(40%, 20%);
}

.name-style{
    background: linear-gradient(90deg,rgba(253,45,0,1) 100%, rgba(253,45,0,1) 44%, rgba(255, 255, 0, 1) 70% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course-style{
    background: linear-gradient(90deg,rgba(0, 255, 255, 1) 100%, rgba(253,45,0,1) 44%, rgba(255, 255, 0, 1) 70% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clg-style{
    background: linear-gradient(90deg,rgba(255, 255, 0, 1) 100%, rgba(253,45,0,1) 44%, rgba(255, 255, 0, 1) 70% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.abt_con{
    width: 50%;
    position: relative;
    left: 0%;
}

.abt_con p{
    font-size: 20px;
    font-weight: lighter;
}

.abt_span::before{
    content: "<p>";
    margin:0;
    color: grey;
    font-size: 85%;
    opacity: 0.5;
    font-style: italic;
}

.abt_span::after{
    content: "</p>";
    margin:0;
    color: grey;
    font-size: 85%;
    opacity: 0.5;
    font-style: italic;
}

.footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer p{
    font-family: inherit;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 5px;
    color: grey;

}

/*MENU*/

.menu-icon
{
    color: white;
    position: fixed;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 7vh;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #111;
    padding-top: 20px;
    transition: 0.5s;
    overflow-x: hidden;
    right: 0;
    z-index: 99999;
  }
  
  .sidebar h2 {
    text-align: center;
    background: linear-gradient(90deg,rgba(253,45,0,1) 44%, rgba(255, 255, 0, 1) 70%, rgba(0, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 99999;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    z-index: 99999;
  }
  
  .sidebar li {
    padding: 15px;
    text-align: center;
    z-index: 99999;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 99999;
  }

  .sidebar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to left, #FFFF00, #FFEC00, #FFD400, #FFC800);
    transition: width 0.3s ease-in-out;
    z-index: 99999;
  }
  
  .sidebar a:hover::before {
    width: 100%;
  }
  
  .sidebar a:hover {
    background: linear-gradient(90deg, rgba(119, 234, 187, 1) 44%, rgba(0, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Responsive layout - adjust the sidebar to take full width on small screens */
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 100%;
      right: 0;
    }
    .sidebar a {
      float: right;
      width: 100%;
      text-align: center;
    }
  }
  
  .toggle-btn {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
  }


  /* EDUCATION.HTML */

  #mmehs, #npc, #sjbit{
    display: none;
  }

  .school, .highSchool, .engineering{
    height: 20vh;
    border: 1px solid white;
    margin-left: 0;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  p{
    margin: 0;
  }

  .duration{
    display: none;
  }

 .school input[type="checkbox"]:checked > .duration
 {
    display:block
  }

  ::-webkit-scrollbar {
    width: 0px;
    background-color: #f1f1f1; 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
